# Preprocessing 01
---
## Read Out the Data from SoSciSurvey and save it in a better format

In [1]:
import re
import pandas as pd

pd.set_option('mode.chained_assignment', None)

### Read in the Data

In [2]:
df_raw = pd.read_excel("./data/data_hir.xlsx")
df_raw = df_raw.drop(0)

### Drop 'useless' rows and columns

In [3]:
df_raw = df_raw.drop(columns=['SERIAL', 'REF', 'QUESTNNR', 'MODE', 'MAILSENT', 'TIME_SUM', 'Q_VIEWER', 'LASTPAGE', 'MAXPAGE', 'MISSING', 'MISSREL', 'TIME_RSI', 'DEG_TIME', 'FINISHED'])
# remove time columns
df_raw = df_raw.drop(columns=['TIME001', 'TIME002', 'TIME004', 'TIME005', 'TIME006', 'TIME007', 'TIME008', 'TIME009', 'TIME010', 'TIME011', 'TIME012', 'TIME013', 'TIME014', 'TIME015', 'TIME016', 'TIME017', 'TIME018', 'TIME019', 'TIME020', 'TIME021', 'TIME022', 'TIME024', 'TIME026', 'TIME028', 'TIME030', 'TIME032', 'TIME034'])

In [4]:
df_raw.to_csv("./data/preprocessed_total_data.csv", index=False)

In [5]:
df_raw

,CASE,LANGUAGE,IT14_01,IT14_01a,IT15_01,IT15_01a,IT16_01,IT16_01a,IT17_01,IT17_01a,...,LV09_02,LV10_01,LV10_02,LV11_01,LV11_02,LV12_01,LV12_02,LV13_01,LV13_02,TIME035
1,194,ger,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,195,ger,0 5 10 5 10 15,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,139-181 126-138 88-55 86-35 89-13 65-102 61-12...,3416 3687 4049 4378 4966 6512 7614 8845 9511 1...,NaN,NaN,NaN
3,196,ger,"5,10,15",1,NaN,NaN,NaN,NaN,NaN,NaN,...,1210 1999 2743 3320 4873 5436 5820 6635 7329 8...,NaN,NaN,NaN,NaN,NaN,NaN,320-110 130-15 126-3 130-45 135-13 124-43 107-...,2398 6266 6629 7149 7845 8644 9559 10171 10818...,NaN
4,198,ger,"[5,10,15]",1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,199,ger,"[5,10,15]",1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,201,eng,"5, 10, 15",1,NaN,NaN,42,1,2,1,...,NaN,159-20 161-37 153-117 144-22 154-42 155-118,811 1194 2343 3227 5961 8711,47-4 55-17 62-34 118-104 128-138 130-171 130-1...,1918 2252 2686 3334 3851 4269 4702 5101 6018 6...,179-18 91-81 85-111 106-197 128-178 130-222 13...,2276 3226 3741 4226 4644 5029 5661 6142 6694 8...,222-90 102-848 99-867 102-891 96-916 97-939 10...,910 2892 3392 3774 4139 4490 4825 5140 5524 59...,NaN
7,202,ger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,203,ger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,204,ger,"[5,10,15]",1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,212,ger,"[5, 10, 15]",1,NaN,2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,213,eng,"[5,10,15]",1,NaN,NaN,NaN,NaN,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42-22 65-45 51-123 81-143 111-161 100-143 50-1...,4155 9379 12561 13652 21857 23971 25078 25989 ...,NaN
12,223,eng,"5, 10, 15",1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,127-62 119-37 251-48 173-121,2577 3143 5675 6667,NaN,NaN,59-1075 105-1108 57-1052 107-1150 92-1222 92-1...,19410 21609 22426 23293 24741 25544 27477 2824...,NaN,NaN,NaN
13,228,ger,"[5,10,15]",1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,229,ger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,230,ger,"[5, 10, 15]",1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,236,eng,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,238,ger,NaN,2,NaN,NaN,42,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,243,eng,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,244,eng,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,245,ger,"5, 10, 15",1,"[2,6,12]",1,NaN,NaN,NaN,NaN,...,4269 8803 9672 20744 23516 24525 47301 49385,NaN,NaN,110-31 112-46 126-95 130-123 137-150 138-171 1...,5057 5632 6241 7309 7897 8542 9288 10539 13574...,125-15 101-96 98-113 118-166 123-194 158-173 1...,6069 9413 9826 14086 14561 15368 16438 17027 1...,NaN,NaN,NaN
21,250,ger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,251,ger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,252,ger,"5, 10, 15",1,NaN,NaN,42,1,2,1,...,NaN,NaN,NaN,164-481 186-500 220-538 236-505 254-528 277-56...,3159 3656 4615 5092 5998 6874 8207 9126 10025 ...,NaN,NaN,110-12 118-37 101-117 126-142 134-170 137-190 ...,3853 4218 8660 9020 9434 9893 11026 11335 1200...,NaN
24,253,eng,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,259,eng,"[5, 10, 15]",1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,260,eng,"[5,10,15]",1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,264,ger,"[5, 10,15]",1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,140-14 151-38 149-122,1299 2132 5869,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,271,ger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,272,ger,"5, 10, 15",1,"""[2, 6, 12]""",1,NaN,NaN,NaN,NaN,...,2219 6740 15907 55735 56967 61524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,282,ger,"5, 10, 15",1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,167-1317 103-1661 136-1657 55-1058 111-1071 11...,20027 33572 34568 40528 41850 43780 45431 4717...,44-20 76-859 91-874 112-899 94-927 94-948 111-...,12158 14405 16977 17974 18887 19690 20781 2156...,NaN
31,294,ger,"[5, 10, 15]",1,NaN,NaN,42,1,NaN,NaN,...,NaN,161-19 167-40 162-119,3506 4026 7633,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,295,ger,"[5, 10, 15]",1,NaN,NaN,NaN,NaN,2,1,...,NaN,NaN,NaN,87-19 87-37 137-94 151-120 153-148 158-177 166...,3552 4312 5027 5563 6205 6864 7614 8682 10719 ...,NaN,NaN,NaN,NaN,NaN
33,296,ger,"[5, 10, 15]",1,16,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,297,ger,"[5, 10, 15]",1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80-9 90-33 88-125 103-146 109-170 114-194 103-...,3545 4213 6711 7143 7700 8598 9962 10333 11843...,NaN
35,298,ger,"[5,10,15]",1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,302,ger,"[5, 10, 15]",1,"[2, 6, 12]",1,NaN,2,-1 -1 3 -1 -1,1,...,1650 4617 5486 6885 10436 10960 17578 18256 18849,NaN,NaN,71-478 80-503 84-518 86-520 85-541 84-553 84-5...,8527 9667 11259 12418 12824 13301 13704 20024 ...,NaN,NaN,NaN,NaN,NaN
37,306,ger,"[5,10, 15]",1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,307,ger,"[5, 10, 15]",1,NaN,NaN,16,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,308,ger,"[5, 10, 15]",1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,309,ger,"[5, 10, 15]",1,NaN,NaN,NaN,NaN,NaN,NaN,...,12024 12787 13740 17094 18472 24338 25925,66-12 82-43 97-66 116-92 116-146 138-172 153-2...,2799 4515 5251 5685 6340 6682 7682 8416 11200 ...,NaN,NaN,NaN,NaN,78-15 80-37 81-117 109-146 106-170 106-192 114...,3924 4856 5841 6974 7497 8040 10490 11359 1325...,NaN
41,313,ger,"[5, 10, 15]",1,NaN,NaN,NaN,NaN,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,314,ger,"[5, 10, 15]",1,"[2, 6, 12]",1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,85-42 130-94 136-121 140-144 144-176 146-204 1...,4117 4833 5226 5944 6455 7000 7625 8584 8876 1...,83-12 142-177 144-203 146-222 151-245 154-273 ...,3442 5075 5562 6047 6690 7206 7808 9023 9908 1...,NaN,NaN,NaN
43,315,ger,"[5, 10, 15]",1,NaN,NaN,42,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82-120 102-669 301-689 98-713 110-171 112-192 ...,5602 8135 9452 16605 18846 19738 21055 21586 2...,NaN
44,316,ger,"[5, 10, 15]",1,"[2, 6, 12]",1,NaN,NaN,[2],1,...,NaN,NaN,NaN,NaN,NaN,109-14 78-89 70-122 121-172 130-353 156-376 13...,4301 5284 6509 9252 11409 12384 13764 14355 16...,NaN,NaN,NaN
45,317,eng,"[5, 10, 15]",1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,318,ger,"[5, 10, 15]",1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,319,ger,"[5, 10, 15]",1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,109-17 147-89 149-118 151-144 151-171 156-198 ...,4624 5607 6237 6691 7164 7591 7956 8491 9128 1...,NaN,NaN,NaN,NaN,NaN
48,320,ger,"[5, 10, 15]",1,NaN,NaN,NaN,NaN,NaN,NaN,...,2891 3706 4408 19583 20336 24864 25813 28782 3...,NaN,NaN,94-21 96-42 134-88 145-122 146-141 150-170 153...,4186 4918 5406 6007 6445 7434 8443 9723 11707 ...,NaN,NaN,NaN,NaN,NaN

### Transform the Dataframe to hold the algorithm name, the correctness, and response time, the click data and the time data

In [6]:
config_prefix = ["IT", "RE", "HO", "LC"]
config_prefix_variable = ["IV", "RV", "HV", "LV"]

config_id_variable = "CASE"

config_algo_names = [
    "apply",
    "condition",
    "find",
    "is_prime",
    "max",
    "node",
    "prime_factors",
    "quad_mul",
    "students",
    "computer",
    "store",
    "LinkedList",
]

config_answer_variables = [
    [[prefix + str(x).zfill(2) + "_01", prefix + str(x).zfill(2) + "_01a"] for x in range(15, 27)]
    for prefix in config_prefix
]

config_click_variables = [[prefix + str(x).zfill(2) + "_01" for x in range(2, 14)] for prefix in config_prefix_variable]

config_time_variables = [[prefix + str(x).zfill(2) + "_02" for x in range(2, 14)] for prefix in config_prefix_variable]


config_answer_patterns = [
    '^"?\[2,\s?6,\s?12\]"?$',
    '^"?42"?$',
    '^"?\[?2\]?"?$',
    '^"?(True|true)"?$',
    '^"?5"?$',
    '^"?36"?$',
    '^"?\[2,\s?3\]"?$',
    '^"?36"?$',
    '^"?(\["Jasmin",\s?"Florian"\]|\[Jasmin,\s?Florian\])"?$',
    '^"?\[1,\s?5\]"?$',
    '^"?\[0,\s?3\]"?$',
    '^"?16"?$',
]

In [7]:
df_matrix = []

# load data
for algo_idx, _stuff in enumerate(config_algo_names):
    df_array = []
    for detail_idx, _stuff in enumerate(config_prefix_variable):
        df = pd.DataFrame(
            df_raw,
            columns=[
                config_id_variable,
                config_answer_variables[detail_idx][algo_idx][0],
                config_answer_variables[detail_idx][algo_idx][1],
                config_click_variables[detail_idx][algo_idx],
                config_time_variables[detail_idx][algo_idx],
            ],
        )
        df = df.dropna(subset=config_answer_variables[detail_idx][algo_idx], how="all")
        df_array.append(df)
    df_matrix.append(df_array)

In [8]:
cols = ["id", "algo_name", "answer", "correctness", "click_data", "time_data"]

df_IT = pd.DataFrame(columns=cols)
df_RE = pd.DataFrame(columns=cols)
df_HO = pd.DataFrame(columns=cols)
df_LC = pd.DataFrame(columns=cols)

for algo_idx, df_row in enumerate(df_matrix):
    algo_name = config_algo_names[algo_idx]
    pattern = config_answer_patterns[algo_idx]
    regex = re.compile(pattern)
    for detail_idx, df in enumerate(df_row):

        for index, row in df.iterrows():
            id_value = row["CASE"]
            algo_name = config_algo_names[algo_idx]
            answer = row[config_answer_variables[detail_idx][algo_idx]]
            click_data = row[config_click_variables[detail_idx][algo_idx]]
            time_data = row[config_time_variables[detail_idx][algo_idx]]

            result = regex.match(str(answer.iloc[0]))
            correctness = False

            if result is not None:
                correctness = True

            data = pd.DataFrame(
                [[id_value, algo_name, str(answer.iloc[0]), correctness, click_data, time_data]], columns=cols
            )

            if detail_idx == 0:
                df_IT = df_IT.append(data)
            elif detail_idx == 1:
                df_RE = df_RE.append(data)
            elif detail_idx == 2:
                df_HO = df_HO.append(data)
            else:
                df_LC = df_LC.append(data)

In [9]:
df_array_independent = [df_IT, df_RE, df_HO, df_LC]

In [10]:
cols = ["ID", "ProgrammingStyle", "Algorithm", "ResponseTime", "Correctness", "ClickData", "TimeData"]


def fill(list_data, dataframe, programming_style):
    for idx, row in dataframe.iterrows():
        id = row["id"]
        algorithm = row["algo_name"]
        response_time = 0
        for i in str(row["time_data"]).split(" "):
            try:
                response_time = int(i)
            except:
                continue
        correctness = row["correctness"]
        click_data = row["click_data"]
        time_data = row["time_data"]

        list_data.append([id, programming_style, algorithm, response_time, correctness, click_data, time_data])


data = []
fill(data, df_IT, "iterative")
fill(data, df_RE, "recursive")
fill(data, df_HO, "higher-order")
fill(data, df_LC, "list-comprehension")
df = pd.DataFrame(data, columns=cols)
df.loc[(df["Algorithm"] == 'condition'),'Algorithm']='condition_sum'
df.to_csv("./data/preprocessed_experiment_data.csv", index=False)

In [11]:
df

,ID,ProgrammingStyle,Algorithm,ResponseTime,Correctness,ClickData,TimeData
0,212,iterative,apply,66794,False,268-191 151-70 151-70 146-89 135-12 135-65 120...,10105 34435 35005 39192 47146 56587 61358 66794
1,245,iterative,apply,21078,True,156-17 174-195 129-44 131-62 141-93 141-114 14...,1123 3472 14145 14878 16035 19911 21078
2,272,iterative,apply,81561,True,188-192 104-34 132-69 149-89,16519 78023 79043 81561
3,296,iterative,apply,22825,False,160-195 122-115 148-9 138-34 140-60 132-94 153...,4194 11386 13568 14369 15567 17215 21808 22825
4,302,iterative,apply,20310,True,69-204 84-191 150-197 254-200 183-14 85-36 95-...,4193 5008 5850 6351 8856 10441 11790 13309 20310
...,...,...,...,...,...,...,...
324,252,list-comprehension,LinkedList,47933,True,110-12 118-37 101-117 126-142 134-170 137-190 ...,3853 4218 8660 9020 9434 9893 11026 11335 1200...
325,282,list-comprehension,LinkedList,349729,False,44-20 76-859 91-874 112-899 94-927 94-948 111-...,12158 14405 16977 17974 18887 19690 20781 2156...
326,297,list-comprehension,LinkedList,48782,True,80-9 90-33 88-125 103-146 109-170 114-194 103-...,3545 4213 6711 7143 7700 8598 9962 10333 11843...
327,309,list-comprehension,LinkedList,55439,False,78-15 80-37 81-117 109-146 106-170 106-192 114...,3924 4856 5841 6974 7497 8040 10490 11359 1325...
328,315,list-comprehension,LinkedList,41878,True,82-120 102-669 301-689 98-713 110-171 112-192 ...,5602 8135 9452 16605 18846 19738 21055 21586 2...